.main{
  background-image: linear-gradient(rgba(245,182,162, 0.25), rgba(245,182,162, 0.25)), url("../img/overview.png")!important;
  background-attachment: fixed;
  background-position: contain;
  background-size: cover;
  font-family: 'Nunito Sans', sans-serif;
}