@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300&display=swap');

.icons{
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 0;
	margin-bottom: 0;
}

body{
  background-image: linear-gradient(rgba(245,182,162, 0.25), rgba(245,182,162, 0.25)), url("../img/background.png");
  background-attachment: fixed;
  background-position: contain;
  background-size: cover;
  font-family: 'Nunito Sans', sans-serif;
}

.bg-light {
    background-color: rgba(245,182,162, 0.7)!important;
}

a {
    color: #69505C!important;
    text-decoration: none;
    background-color: transparent;
}

.card-footer {
    padding: 0.15rem 1.25rem;
    background-color: rgba(0,0,0,.03);
    border-top: 0px solid rgba(0,0,0,.125);
}

.btn-primary {
    color: #69505C!important;
    background-color: #F3A88A!important;
    border-color: #F3A88A!important;
}